<h2>A Simple Volunteer and Project Tracker</h2>

<!-- Project Interaction Side -->

<div class="row">
  <div class="col-md-6">
    <h3>Enter in your Project Information</h3><br>
    <form action="/add_project" method="post">
      <div class="form-group">
        <label for="title">title</label><br>
        <input type="text" name="title" required pattern=".*\S+.*" title="This field is required">
      </div>
      <button type="submit" class="btn btn-info" name="addproject">Create Project</button>
    </form>
    <br>

    <%if @projects.any?() %>
      <h3>Your Projects</h3><br>
      <ul>
        <h4><% @projects.each do |events| %>
          <li>
            <a href="/projects/<%= events.id %>">
              <%= events.title %>
            </a>
          </li>
        <% end %></h4>
      </ul>

      <% else %>
        <h3>There are no projects added yet!</h3>
      <% end %>
  </div>

<!-- Volunteer Interaction Side  -->

  <div class="col-md-6">
    <h3>Enter in your Volunteer Name</h3><br>
    <form action="/add_volunteer" method="post">
      <div class="form-group">
        <label for="name">name</label><br>
      <input type="text" name="name">
      </div>

      <label for="project_id">Select a Project</label>
      <select id="project_id" name="project_id" type="text">
        <% @projects.each do |project| %>
          <option value="<%= project.id %>"> <%= project.title %> </option>
        <% end %>
      </select>
        <button type="submit" class="btn btn-info"name="addvolunteer">Add Volunteer</button>
    </form>
    <br>

    <%if @volunteers.any?() %>
      <h3>Your Volunteers</h3><br>
      <ul>
        <h4><% @volunteers.each do |people| %>
          <li>
            <a href="/edit_volunteer/<%= people.id %>">
              <%= people.name %>
            </a>
          </li>
        <% end %></h4>
      </ul>

    <% else %>
      <h3>There are no volunteers yet!</h3>
    <% end %>
  </div>
</div>
